*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    list-style: none;
}
.main_box{
    position: relative;
    background: url('top-view-set-gadgets-purple-neon-light-pink.jpg')bottom no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;


}
.main_box .sidebar_menu{
    position: fixed;
    height:100vh;
    width: 300px;
    left:-300px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    transition: left 0.5s ease;

}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);

}
.sidebar_menu .logo a{
    position: absolute;
    left: 45px;
    color:white;
    font-size: 26px;
    font-weight: 500;
    line-height: 80px;
    text-decoration: none;

}
.sidebar_menu .menu{
    position: absolute;
    top: 75px;
    width: 100%;


}
.sidebar_menu .menu li{
    margin: 10px;
    padding: 15px 22px;
    transition: all 0.3s linear;

}
.sidebar_menu .menu i{
    color:white;
    padding-right: 9px;
    font-size: 19px;

}
.sidebar_menu .menu a{
    color:white;
    font-size: 19px;
    text-decoration: none;

}
.sidebar_menu .menu li:hover{
    border:1px solid white;
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}

.sidebar_menu .social_media{
    position: absolute;
    left:40%;
    bottom:20px;
    transform: translateX(-50%);
    cursor: pointer;

}
.social_media i{
    padding: 0 5px;
    color: #fff;
    opacity:0.6;
    font-size:18px;
    transition: all 0.2 linear;


}
.social_media i:hover{
    opacity: 1;

}

#check{
   display: none;
}
.main_box .btn_one i{
    color:white;
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    left: 13px;
    line-height: 80px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;

}
.sidebar_menu .btn_two i{
    font-size: 29px;
    color: #fff;
    position: absolute;
    left: 270px;
    line-height: 82px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}
.btn_one i:hover{
    font-size: 30px;

}
.btn_two i:hover{
    font-size: 30px;           
}
#check:checked ~.sidebar_menu{   
    left: 0px;
}
#check:checked ~.btn_one i{
    opacity: 0;
}
#check:checked ~.btn_two i{
    opacity: 1;
}












